<div style="padding: 20px 5% 0 5%">
  <h1 class="mat-h1">Events</h1>
  <button mat-button color="primary" (click)="openCreateCallDialog(null)" >
    <mat-icon aria-label="Example icon-button with a heart icon">call</mat-icon>
    Add Call Event</button>
  <button mat-button color="primary">
    <mat-icon aria-label="Example icon-button with a heart icon">chat</mat-icon>
    Add Meeting Event</button>
</div>

<vertical-timeline *ngIf="eventStore">
  <vertical-timeline-card *ngFor="let dateIndex of eventStore.indexes"
      class="mat-elevation-z3"
      [dateValue]="eventStore.entities[dateIndex][0].event_date"
      [timeString]="eventStore.entities[dateIndex][0].event_date | date:'MMM d'">

    <section *ngFor="let event of eventStore.entities[dateIndex]">
      <div [ngSwitch]="event.type">
        <app-event-view [event]="event" type="call" *ngSwitchCase="'call'"
          (onSend)="sendInvites(event)"
          (onEdit)="editCallEvent(event)"
        ></app-event-view>
        <app-event-view [event]="event" type="chat" *ngSwitchCase="'meeting'">
          <mat-list-item>
            <mat-icon>place</mat-icon> location: {{event.address | json}}
          </mat-list-item>
        </app-event-view>
      </div>
    </section>
  </vertical-timeline-card>
</vertical-timeline>
