<div style="padding: 20px 5% 0 5%">
  <h1 class="mat-h1">Calls</h1>
  <button mat-raised-button color="primary" (click)="openCreateCallDialog()" >
    <mat-icon aria-label="Example icon-button with a heart icon">call</mat-icon>
    Add new Call Event</button>
</div>

<vertical-timeline *ngIf="callEventStore">
  <vertical-timeline-card *ngFor="let dateIndex of callEventStore.indexes"
      class="mat-elevation-z3"
      [dateValue]="callEventStore.entities[dateIndex][0].event_date"
      [timeString]="callEventStore.entities[dateIndex][0].event_date | date:'MMM d'">

    <section *ngFor="let callEvent of callEventStore.entities[dateIndex]; let i = index">
      <app-call-event [callEvent]="callEvent"></app-call-event>
    </section>
  </vertical-timeline-card>
</vertical-timeline>




<div style="padding: 0 5%">
  <h1 class="mat-h1">Meetings</h1>
  <button mat-raised-button color="primary" (click)="openCreateCallDialog()" >
    <mat-icon aria-label="Example icon-button with a heart icon">chat</mat-icon>
    Add new Meeting Event</button>
</div>

<vertical-timeline *ngIf="meetingEventStore">
  <vertical-timeline-card *ngFor="let dateIndex of meetingEventStore.indexes"
      class="mat-elevation-z3"
      [dateValue]="meetingEventStore.entities[dateIndex][0].event_date"
      [timeString]="meetingEventStore.entities[dateIndex][0].event_date | date:'MMM d'">

    <section *ngFor="let meetingEvent of meetingEventStore.entities[dateIndex]; let i = index">
      <app-meeting-event [meetingEvent]="meetingEvent"></app-meeting-event>
    </section>
  </vertical-timeline-card>
</vertical-timeline>
