<h2 mat-dialog-title>Meeting Location</h2>
<div mat-dialog-content>
    <agm-map style="height:500px" [zoom]='10' [latitude]="marker.lat" [longitude]="marker.lng"
       (mapClick)="updateLocation($event)"
    >
        <agm-marker
            [latitude]="marker.lat"
            [longitude]="marker.lng"
            [label]="marker.label"
            [markerDraggable]="marker.draggable"
            (dragEnd)="updateLocation($event)">
        </agm-marker>
    </agm-map>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
    <button mat-button (click)="save()" [disabled]="!changed">Save</button>
</div>
